# Ignore virtual environment
.venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter checkpoints
.notebooks/.ipynb_checkpoints/

# Ignore model artifacts if large (optional)
*.pkl
*.joblib

# Ignore OS files
.DS_Store
Thumbs.db
